<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
  <variable name="logdir" value="C:/APC/ManifestImportExportApi"/>
  <targets>

    <target name="File"
            xsi:type="File"
            fileName="${logdir}/logs/ServiceLog.txt"
            layout="${longdate} ${message} ${exception:format=tostring}"
            archiveFileName="${logdir}/archives/ServiceLog-{####}.txt"
            archiveEvery="Day"
            archiveNumbering="Rolling"
            maxArchiveFiles="7"
            concurrentWrites="true"
            keepFileOpen="false"
            encoding="iso-8859-2"
            />
  </targets>

  <rules>
    <logger name="*" minlevel="Debug" writeTo="File" />
  </rules>
</nlog>